AFRICASTALKING_API_KEY=
AFRICASTALKING_USERNAME=
APP_DEBUG=
APP_ENV=
APP_FAKER_LOCALE=
APP_FALLBACK_LOCALE=
APP_KEY=
APP_LOCALE=
APP_NAME=ShelterHub
APP_TIMEZONE=
AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_DEFAULT_REGION=
AWS_ENDPOINT=
AWS_SECRET_ACCESS_KEY=
AWS_URL=
AWS_USE_PATH_STYLE_ENDPOINT=
BROADCAST_CONNECTION=
DB_CONNECTION=
DB_DATABASE=shelterhub_db
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=shelterhub_app
ETIMS_AUTH_KEY=
ETIMS_BASE_URL=
ETIMS_BRANCH_ID=
ETIMS_DEVICE_ID=
ETIMS_ENV=
ETIMS_INVOICE_ISSUER_TYPE=
ETIMS_TIN_PIN=
FILESYSTEM_DISK=
LOG_CHANNEL=
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=
LOG_STACK=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_HOST=
MAIL_MAILER=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_SCHEME=
MAIL_USERNAME=
MEMCACHED_HOST=
MPESA_B2C_INITIATOR_NAME=
MPESA_B2C_RESULT_URL=
MPESA_B2C_SECURITY_CREDENTIAL=
MPESA_B2C_SHORTCODE=
MPESA_B2C_TIMEOUT_URL=
MPESA_C2B_CONFIRMATION_URL=
MPESA_C2B_VALIDATION_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_ENV=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_STK_CALLBACK_URL=
QUEUE_CONNECTION=
REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
SANCTUM_STATEFUL_DOMAINS=
SESSION_DOMAIN=
SESSION_DRIVER=
SESSION_ENCRYPT=
SESSION_LIFETIME=
SESSION_PATH=
SMS_PROVIDER=
SMS_SENDER_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_PROVIDER=
WHATSAPP_TOKEN=
GEMINI_API_KEY=
LARAVEL_API_URL=
